<a href="https://colab.research.google.com/github/supermario64bit/scaler_ai_ml_resources/blob/main/day4_12_Dec_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas In Detail**

**Series**<br>
1D array in pandas are called Series. But we can set custom index values for series. These custom index values are called labels. And also we can set name for the series for which entity data is reffered by the series.

In [1]:
import pandas as pd
import numpy as np

In [2]:
votes = np.array([120, 240, 150])
ratings = np.array([4.1, 4.5, 3.9])
restaurants = np.array(['R1', 'R2', 'R3'])

In [3]:
votes_series = pd.Series(votes, index=restaurants, name="votes") #Votes with labels and name
votes_series

R1    120
R2    240
R3    150
Name: votes, dtype: int64

In [4]:
rating_series = pd.Series(ratings, index=restaurants, name="ratings")
rating_series

R1    4.1
R2    4.5
R3    3.9
Name: ratings, dtype: float64

Instead of combining them seperately we can create a 2D matrix which is called dataframe using the concatenation method.



```
pd.concat([series1, series2], axis=1)

---


```

In [5]:
pd.concat([votes_series, rating_series], axis=1)

    votes  ratings
R1    120      4.1
R2    240      4.5
R3    150      3.9

**Dataframe from dictionary**<br>
We can also create dataframe from python dictionary which has key value pairs

In [6]:
data = {
    "Restaurant": ["R1", "R2", "R3"],
    "Votes": [120, 240, 150],
    "Rating": [4.1, 4.5, 3.9]
}
# data is a dictionary

In [7]:
df = pd.DataFrame(data) # Dataframe from dictionary

In [8]:
df.set_index("Restaurant", inplace=True) #Setting the index as restaurant

In [9]:
df

            Votes  Rating
Restaurant
R1            120     4.1
R2            240     4.5
R3            150     3.9

**Dataframe From Excel**<br>
We can create the dataframe from excel data.


```
pd.read_excel(path_to_xls)
```

In [10]:
superstore = pd.read_excel("/content/sample_data/Sample - Superstore.xls") #Datafram from excel
superstore

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

**Till Now We have learned in Pandas**<br>


1.   head(10) - Getting the first elements in the dataframe
2.   tail(10) - Getting the last elements in the dataframe
3.   info() - Getting the basic information about the datas in each column
4.   describe() - Getting the statistical informations such as total count, sum, max, min, mean of the numercial columns in the dataframe.
5.    loc('R1') - Get the data using label(Customized index).
6.    iloc(1) - Getting the data using default index location.
7.    set_index(index_column_name) - Setting the custom index from dataframe
8.    reset_index() - Reset back the default index after we customized the index
9.    1D Array to Pandas Series Conversion
10.   Creating dataframe by concatenating two series
11.   Python dictionary to Pandas Dataframe Conversion

In [11]:
# Downloading and unziping the dataset
!wget https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/100/375/original/zomato_dataset.zip
!unzip zomato_dataset.zip
!mv zomato_dataset.csv .

--2025-12-14 14:12:06--  https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/100/375/original/zomato_dataset.zip
Resolving d2beiqkhq929f0.cloudfront.net (d2beiqkhq929f0.cloudfront.net)... 52.85.30.133, 52.85.30.210, 52.85.30.42, ...
Connecting to d2beiqkhq929f0.cloudfront.net (d2beiqkhq929f0.cloudfront.net)|52.85.30.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 72602133 (69M) [application/zip]
Saving to: zomato_dataset.zip

zomato_dataset.zip  100%[===================>]  69.24M   281MB/s    in 0.2s

2025-12-14 14:12:07 (281 MB/s) - zomato_dataset.zip saved [72602133/72602133]

Archive:  zomato_dataset.zip
  inflating: zomato_dataset.csv
mv: 'zomato_dataset.csv' and './zomato_dataset.csv' are the same file

In [12]:
df= pd.read_csv('zomato_dataset.csv') #Going forward with zomato dataset

In [13]:
df

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",'800.0',"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",'800.0',"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",'800.0',"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",'300.0',"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",'600.0',"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23188,https://www.zomato.com/bangalore/izakaya-gastr...,"2nd Floor, Iona, Virginia Mall, Whitefield Mai...",Izakaya Gastro Pub,Yes,Yes,3.8 /5,128,+91 7625087121\n+91 8050587483,Whitefield,"Bar, Casual Dining","Beer, Chicken Guntur, Paneer Tikka, Fish, Nood...","North Indian, Continental, Mediterranean",'1200.0',"[('Rated 3.0', ""RATED\n Nice place to hangout...",[],Pubs and bars,Whitefield
23189,https://www.zomato.com/bangalore/m-bar-bengalu...,"Bengaluru Marriott Hotel, 75, 8th Road, EPIP A...",M Bar - Bengaluru Marriott Hotel Whitefield,No,No,3.9 /5,77,080 49435000,Whitefield,"Fine Dining, Bar",Rooftop Ambience,Finger Food,'2000.0',"[('Rated 4.0', 'RATED\n Went there post dinne...",[],Pubs and bars,Whitefield
23190,https://www.zomato.com/bangalore/keys-cafe-key...,"Keys Hotel, 6, 1st Phase Industrial Area, Near...",Keys Cafe - Keys Hotel,No,No,2.8 /5,161,080 39451000\n+91 8884038484,Whitefield,"Casual Dining, Bar","Salads, Coffee, Breakfast Buffet, Halwa, Chick...","Chinese, Continental, North Indian",'1200.0',"[('Rated 3.0', 'RATED\n Place is good not tha...",[],Pubs and bars,Whitefield
23191,https://www.zomato.com/bangalore/bhagini-2-whi...,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,No,No,2.5 /5,81,080 65951222,Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",'800.0',"[('Rated 4.0', 'RATED\n A fine place to chill...",[],Pubs and bars,Whitefield
23192,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,'2500.0',"[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield

**Get Column Wise Data**<br>
To select a single column:


```
df["column_name"]
```
<br><br>
To select multiple columns


```
df[["column_name1","column_name2","column_name3"]]
```
<br><br>
To select multiple columns of first n rows


```
df[["column_name1","column_name2","column_name3"]][:n]
```

In [14]:
# Fetching data column wise
df["rate"] # for fetching single column

0         4.1/5
1         4.1/5
2         3.8/5
3         3.7/5
4         3.8/5
          ...
23188    3.8 /5
23189    3.9 /5
23190    2.8 /5
23191    2.5 /5
23192    4.3 /5
Name: rate, Length: 23193, dtype: object

In [15]:
df[["rate", "votes"]] # for fetching multiple columns

         rate  votes
0       4.1/5    775
1       4.1/5    787
2       3.8/5    918
3       3.7/5     88
4       3.8/5    166
...       ...    ...
23188  3.8 /5    128
23189  3.9 /5     77
23190  2.8 /5    161
23191  2.5 /5     81
23192  4.3 /5    236

[23193 rows x 2 columns]

In [16]:
# Slicing
df[["rate", "votes"]][:10] # for fetching multiple columns of first 10 rows

    rate  votes
0  4.1/5    775
1  4.1/5    787
2  3.8/5    918
3  3.7/5     88
4  3.8/5    166
5  3.8/5    286
6  4.6/5   2556
7  4.0/5    324
8  4.2/5    504
9  4.1/5    402

**Rename the column names**<br>


```
df.rename(columns={"original_name":"new_name"}, inplace=True)
```

In [24]:
df_new = df.rename(columns={"rate":"Ratings", "votes":"Votes"})
df_new

,url,address,name,online_order,book_table,Ratings,Votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",'800.0',"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",'800.0',"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",'800.0',"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",'300.0',"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",'600.0',"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23188,https://www.zomato.com/bangalore/izakaya-gastr...,"2nd Floor, Iona, Virginia Mall, Whitefield Mai...",Izakaya Gastro Pub,Yes,Yes,3.8 /5,128,+91 7625087121\n+91 8050587483,Whitefield,"Bar, Casual Dining","Beer, Chicken Guntur, Paneer Tikka, Fish, Nood...","North Indian, Continental, Mediterranean",'1200.0',"[('Rated 3.0', ""RATED\n Nice place to hangout...",[],Pubs and bars,Whitefield
23189,https://www.zomato.com/bangalore/m-bar-bengalu...,"Bengaluru Marriott Hotel, 75, 8th Road, EPIP A...",M Bar - Bengaluru Marriott Hotel Whitefield,No,No,3.9 /5,77,080 49435000,Whitefield,"Fine Dining, Bar",Rooftop Ambience,Finger Food,'2000.0',"[('Rated 4.0', 'RATED\n Went there post dinne...",[],Pubs and bars,Whitefield
23190,https://www.zomato.com/bangalore/keys-cafe-key...,"Keys Hotel, 6, 1st Phase Industrial Area, Near...",Keys Cafe - Keys Hotel,No,No,2.8 /5,161,080 39451000\n+91 8884038484,Whitefield,"Casual Dining, Bar","Salads, Coffee, Breakfast Buffet, Halwa, Chick...","Chinese, Continental, North Indian",'1200.0',"[('Rated 3.0', 'RATED\n Place is good not tha...",[],Pubs and bars,Whitefield
23191,https://www.zomato.com/bangalore/bhagini-2-whi...,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,No,No,2.5 /5,81,080 65951222,Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",'800.0',"[('Rated 4.0', 'RATED\n A fine place to chill...",[],Pubs and bars,Whitefield
23192,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,'2500.0',"[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield

**Practice Question**<br>
Find the average ratings of the restaurants in the dataset gives above?<br>
Steps:
1.   Right now ratings is in string with /5 at the end. Need to remove it.
2.   Clean the data and make it float
3.   Calculate the mean of the ratings

In [26]:
df_new["only_ratings"] = df_new["Ratings"].str[:-2]
df_new["only_ratings"]

0         4.1
1         4.1
2         3.8
3         3.7
4         3.8
         ...
23188    3.8
23189    3.9
23190    2.8
23191    2.5
23192    4.3
Name: only_ratings, Length: 23193, dtype: object

In [27]:
df_new["only_ratings"] = df_new["only_ratings"].replace("N", np.nan) # replacing N with nan
df_new["only_ratings"] = df_new["only_ratings"].astype(float) #Converting it into float

In [28]:
df_new["only_ratings"].mean() # Mean is the average ratings

np.float64(3.9043825392692875)

**Practice Question**<br>
Rename the column *approx_cost(for two people)* to *cost_for_two* and create a column *cost_for_one*

In [29]:
df_new.rename(columns={"approx_cost(for two people)":"cost_for_two"}, inplace=True)
df_new["cost_for_two"]

0         '800.0'
1         '800.0'
2         '800.0'
3         '300.0'
4         '600.0'
           ...
23188    '1200.0'
23189    '2000.0'
23190    '1200.0'
23191     '800.0'
23192    '2500.0'
Name: cost_for_two, Length: 23193, dtype: object

In [30]:
df_new["cost_for_one"] = df_new["cost_for_two"].str.replace("'","").astype(float)/2

In [23]:
df_new["cost_for_one"]

0         400.0
1         400.0
2         400.0
3         150.0
4         300.0
          ...
23188     600.0
23189    1000.0
23190     600.0
23191     400.0
23192    1250.0
Name: cost_for_one, Length: 23193, dtype: float64

Checking is there an empty value or null value


```
df_new["only_ratings"].isna()
```

In [33]:
df_new["only_ratings"].isna()

0        False
1        False
2        False
3        False
4        False
         ...
23188    False
23189    False
23190    False
23191    False
23192    False
Name: only_ratings, Length: 23193, dtype: bool

In [34]:
df_new["only_ratings"].isna().sum()

np.int64(147)

In [38]:
df_new["only_ratings"][df_new["only_ratings"].isna()] #Getting the null values in the column

453     NaN
813     NaN
814     NaN
824     NaN
832     NaN
         ..
22520   NaN
22525   NaN
22585   NaN
22798   NaN
23089   NaN
Name: only_ratings, Length: 147, dtype: float64

To negate a condition or doing something oposite to the condition we use `~` symbol. This symbol is logical not operator.

In [40]:
df_new["only_ratings"][~df_new["only_ratings"].isna()] #Getting the datas which didnt have null value using logical not operator

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
23188    3.8
23189    3.9
23190    2.8
23191    2.5
23192    4.3
Name: only_ratings, Length: 23046, dtype: float64

**Replace null value**<br>
We have fillna function to fill the columns with null value to a value.


```
df["column_name"].fillna(value_to_be_filled)
```

In [44]:
df_new["only_ratings_1"] = df_new["only_ratings"].fillna(1) # Filling the null value with 1

In [47]:
df_new["only_ratings_null_means"] = df_new["only_ratings"].fillna(df_new["only_ratings"].mean()) # Filling the null value with mean. So average value wont change

To drop a column we can use drop method.


```
df.drop("column_name", axis=1, inplace=True)
```

In [48]:
df_new.drop("Ratings", axis=1, inplace=True) # drop the Ratings column

**Unique Values In A Column**<br>
We can use unique functin to get all the unique values in a column

In [50]:
df_new["location"].unique()

array(['Banashankari', 'Basavanagudi', 'Jayanagar', 'Kumaraswamy Layout',
       'Rajarajeshwari Nagar', 'Mysore Road', 'Uttarahalli',
       'South Bangalore', 'Vijay Nagar', 'Bannerghatta Road', 'JP Nagar',
       'BTM', 'Wilson Garden', 'Koramangala 5th Block', 'Shanti Nagar',
       'Richmond Road', 'City Market', 'Bellandur', 'Sarjapur Road',
       'Marathahalli', 'HSR', 'Old Airport Road', 'Indiranagar',
       'Koramangala 1st Block', 'East Bangalore', 'MG Road',
       'Brigade Road', 'Lavelle Road', 'Church Street', 'Ulsoor',
       'Residency Road', 'Shivajinagar', 'Infantry Road',
       'St. Marks Road', 'Cunningham Road', 'Race Course Road', 'Domlur',
       'Koramangala 8th Block', 'Frazer Town', 'Ejipura', 'Vasanth Nagar',
       'Jeevan Bhima Nagar', 'Old Madras Road', 'Commercial Street',
       'Koramangala 6th Block', 'Majestic', 'Langford Town',
       'Koramangala 7th Block', 'Brookefield', 'Whitefield',
       'ITPL Main Road, Whitefield', 'Varthur Main Road, Whitefield',
       'Koramangala 2nd Block', 'Koramangala 3rd Block',
       'Koramangala 4th Block', 'Koramangala', 'Bommanahalli',
       'Hosur Road', 'Seshadripuram', 'Electronic City', 'Banaswadi',
       'North Bangalore', 'RT Nagar', 'Kammanahalli', 'Hennur',
       'HBR Layout', 'Kalyan Nagar', 'Thippasandra', 'CV Raman Nagar',
       'Kaggadasapura', 'Kanakapura Road', 'Nagawara', 'Rammurthy Nagar',
       'Sankey Road', 'Central Bangalore', 'Malleshwaram',
       'Sadashiv Nagar', 'Basaveshwara Nagar', 'Rajajinagar',
       'New BEL Road', 'West Bangalore', 'Yeshwantpur', 'Sanjay Nagar',
       'Sahakara Nagar', 'Jalahalli', 'Yelahanka', 'Magadi Road',
       'KR Puram'], dtype=object)

In [51]:
df_new["location"].nunique() # Get the count of unique locations

88

In [52]:
df_new["location"].value_counts() # Get the count of each values appears in the column

location
Koramangala 5th Block    1783
BTM                      1456
Indiranagar              1350
HSR                      1162
Jayanagar                1037
                         ...
Kanakapura Road             2
West Bangalore              2
Yelahanka                   2
Magadi Road                 2
KR Puram                    1
Name: count, Length: 88, dtype: int64

**Practice Problem**<br>
For all the rows the vote is morethan 200 the rating should be 3.

In [56]:
df_new.loc[df_new["Votes"] > 200, "new_ratings"] = 3

In [57]:
df_new["new_ratings"]

0        3.0
1        3.0
2        3.0
3        NaN
4        NaN
        ...
23188    NaN
23189    NaN
23190    NaN
23191    NaN
23192    3.0
Name: new_ratings, Length: 23193, dtype: float64

In [60]:
df.loc[df_new.duplicated()]

Empty DataFrame
Columns: [url, address, name, online_order, book_table, rate, votes, phone, location, rest_type, dish_liked, cuisines, approx_cost(for two people), reviews_list, menu_item, listed_in(type), listed_in(city)]
Index: []

**Drop Duplicate**<br>
We can drop the duplicate occurences completely or except the first or last occurance.


Drop all duplicate occurance
```
df_new.drop_duplicates()
```


Drop all duplicate occurance except first occurance
```
df_new.drop_duplicates (keep='first')
```


Drop all duplicate occurance except last occurance
```
df_new.drop_duplicates (keep='last')
```